---

import Welcome from "../sections/Welcome.astro";
import Layout from '../layouts/Layout.astro';
import Gallery from "../sections/Gallery.astro";
import Join from "../sections/Join.astro";
import About from "../sections/About.astro";
import Updates from "../sections/Updates.astro";

// import { getContentTypes } from '../services/contentful';
Astro.response.headers.set("Cache-Control", `max-age=${import.meta.env.CACHING_MAX_AGE}`)
//Uncomment out the below line to print out the content model whenever a request is made to the server (unca)
// console.log(await getContentTypes())
---

<Layout title="DSSD GWU">
	<style>
		.bg-pattern {
		  background-image: url('/index/bgPattern.jpg');
		  background-repeat: no-repeat;
		  /* background-attachment: fixed; */
		  /* background-size: cover;*/
		  width:auto;
		  height: auto; 
		  background-size: 100% 100%;
		  /* background-repeat: no-repeat; */
		}
	  </style>
	<main class="bg-pattern ">
	<!-- <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> -->
    <Welcome />
    <About />
		<Join />
    <Updates />
	<!-- 	<Gallery /> -->
	</main>
</Layout>